<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="day8_16_rcpswt.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="day8_16_rcpswt.Perspective"
            id="day8_16_rcpswt.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="day8_16_rcpswt.application"
            name="SiteView">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="day8_16_rcpswt.ViewPart1"
            id="day8_16_rcpswt.view1"
            name="导航器"
            restorable="true">
      </view>
      <view
            class="day8_16_rcpswt.ViewPart2"
            id="day8_16_rcpswt.view2"
            name="对象"
            restorable="true" >
            
            
      </view>
      <view
             
            class="day8_16_rcpswt.ViewPart3"
            id="day8_16_rcpswt.view3"
            name="Group"
            restorable="true">
      </view>
      <view
            class="day8_16_rcpswt.ViewPart4"
            id="day8_16_rcpswt.view4"
            name="变更"
            restorable="true">
      </view>
      <view
            class="day8_16_rcpswt.ECCMonitoerView5"
            id="day8_16_rcpswt.view5"
            name="ECCMinitor"
            restorable="true">
      </view>
      <view
            class="day8_16_rcpswt.ViewPart7"
            id="day8_16_rcpswt.view7"
            name="概要"
            restorable="true">
      </view>
      <view
            class="day8_16_rcpswt.ViewPart8"
            id="day8_16_rcpswt.view8"
            name="日志数据"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="day8_16_rcpswt.MyEditor"
            default="false"
            id="day8_16_rcpswt.editor1"
            name="ECC">
      </editor>
      <editor
            class="day8_16_rcpswt.MyEditor2"
            default="false"
            id="day8_16_rcpswt.editor2"
            name="name">
      </editor>
   </extension>

</plugin>
